<li [ngClass]="{'list-group-item': true, 
                'list-group-item-success' : loveIts > 0, 
                'list-group-item-danger' : loveIts < 0}">

  <h2 [ngStyle]="{color: getColor()}">{{title}}</h2>
  <p class='affichageDate'>{{created_at | date: 'M/d/y, h:mm a'}}</p>
  
  <p [ngStyle]="{color: getColor()}">{{content}}</p>
  
  <button class="btn btn-success" (click)="onLoveChange('Love it')">Love it!</button>
  <button class="btn btn-danger"  (click)="onLoveChange('Don\'t love it')">Don't love it!</button>

</li>